body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: url('https://i.pinimg.com/736x/47/17/e0/4717e09572176f93a14c8086960a8a46.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
    width: 300px;
    height: 300px;
    background-color: rgba(176, 176, 194, 0.224);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}
.head{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}
.div2,.div3{
    text-align: center;
    font-size: 18px;
    color: rgb(5, 5, 5);
}
.bill1{
    margin-top: 10px;
}
.bill,.tip{
    border: none;
    height: 18px;
    border-radius: 50px;
    width: 200px;
}
.div3{
    margin-top: 10px;
}
.button{
    text-align: center;
    margin-top: 18px;
}
.enter{
    border: none;
    background-color: rgba(5, 5, 98, 0.608);
    height: 20px;
    width: 70px;
    color: white;
    border-radius: 3px;
}
.text{
    text-align: center;
    color: beige;
}