body{
    background-image: url('https://img.freepik.com/free-photo/school-supplies-arrangement-table_23-2148939160.jpg?semt=ais_hybrid&w=740');
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    height: 350px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.227);
   
}
h2{
    text-align: center;
}
.t1,.t2{
    text-align: center;
    font-size: large;
}
.i1,.i2{
    text-align: center;
}
.input1,.input2{
    width: 180px;
    height: 25px;
    border-radius: 7px;
    border: none;
}
.enter{
    text-align: center;
}
.enter1{
    width: 100px;
    height: 25px;
}