body{
    margin: 0;
    padding: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('https://res.cloudinary.com/imagist/image/fetch/q_auto,f_auto,c_scale,w_2624/https%3A%2F%2Fwww.todoist.com%2Fstatic%2Fproduct-ui%2Fbackgrounds%2Fwave-two-red.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

 .box {
      width: 350px;
      height: 350px;
      background-color: rgba(240, 128, 128, 0.59);
      border-radius: 15px;
    }
.div1{
    text-align: center;
    position: relative;
    top: 7px;
}
.input1{
    text-align: center;
    font-size: large;
}
.name{
    width: 230px;
    height: 22px;
    border: none;
    border-radius: 2px;
}
.add{
    height: 22px;
    border: none;
    width: 50px;
    margin-left: 4px;
    border-radius: 2px;
    background-color: rgb(225, 101, 101);
    color: white;
}
.text{
    display: grid;
    grid-template-columns: 246px 100px;
    margin-left: 24px;
}
.delete{
    border: none;
    margin: 3px;
    border-radius: 2px;
    background-color: rgb(249, 212, 218);
}